/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --contrast-background-color: #f5f6f8;
    
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #37517e; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #47b2e4; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  

    --animations-transition: .5s;  
}
  
  /* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
  :root {
    --nav-color: #ffffff;  /* The default color of the main navmenu links */
    --nav-hover-color: #47b2e4; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #444444; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #47b2e4; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: "Jost", sans-serif;

  overflow-x: hidden;
}

.navigate-button, .button {
  border: none;
  background-color: var(--accent-color);
  color: var(--surface-color); 

  transition: opacity var(--animations-transition);
}

.navigate-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover, .navigate-button:hover {
  opacity: 0.9;
}

.translateY-animation {
  transition: transform var(--animations-transition);
}

.translateY-animation:hover {
  transform: translateY(-5px);
}