.service-card {
    width: 261px;
    min-height: 275px;

    background-color: var(--contrast-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-left: 20px;
    padding-right: 20px;

    margin: 10px;


    cursor: pointer;

    transition: transform var(--animations-transition);
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card:hover .info-text h1 {
    color: var(--accent-color);
}

.service-card .thumb {
    width: 100%;
    display: flex;
    align-items: center;
}

.service-card .thumb img {
    width: 35px;
    height: 35px;
}

.service-card .info-text {
    padding-top: 20px;

    width: 100%;
    font-size: 17px;
}

.service-card .info-text h1 {
    font-size: 20px;

    padding-bottom: 15px;
    color: var(--heading-color);
    transition: color var(--animations-transition);
}